
.messages {
  position: relative;
  height: 583px;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../../assets/fondo.jpg');
}

.messages::-webkit-scrollbar {
  background: #282a2d;
  width: 7px;
  height: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background: #fd4520;
  border-radius: 5px;
}

.messages::-webkit-scrollbar-thumb:active {
  background-color:  white;
}

@media screen and (max-width: 480px) {
  .messages {
    position: relative;
    top: 350px;
    right: 44%;
    width: 380px;
    height: 300px;
  }
}
