.container {
  background: #878e99;
  overflow: auto;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  height: 600px;
}

.container::-webkit-scrollbar {
  scroll-behavior: auto;
}

.title {
  text-align: center;
  color: #000000;
  font-size: 11px;
  margin-bottom: 8px;
  padding: 2px;
  height: 25px;
  border-radius: 2px;
}

.userChat {
  background: #878e99;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  padding-top: 10px;
  border: none;
  width: 92%;
  height: 60px;
  border-bottom: solid 1px #737272;
}

.userChat:hover {
  color: white;
  background: #282a2d;
  opacity: .7;
  border-radius: 4px;
}

.userChat:focus{
  background: #fd4520;
  color: white;
  opacity: .9;
  border-radius: 4px;
}

.userChat:active {
  background: #fd4520;
  color: white;
  border-radius: 4px;
}

.userChat img {
  margin-top: -7px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.spanName {
  padding-top: 4px;
  margin-left: 5px;
  display: flex;
}

.containerInfo {
  display: block;
  width: 230px;
}

.userChat .userChatInfo p {
  font-size: 14px;
  color: lightgray;
}

.text {
  display: flex;
  padding-top: 2px;
  margin-left: 5px;
  font-weight: normal;
  font-size: 11px;
  max-width: 90%;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.text2 {
  margin-left: 5px;
  display: flex;
  padding-top: 2px;
  font-size: 11px;
  max-width: 90%;
  font-weight: normal;
  color: #1e2024;
  overflow: hidden;
  white-space: nowrap;
}

.iconMess {
  position: relative;
  top: 6px;
  right: 10px;
  color: #45fd45;
}

.check {
  position: relative;
  top: 9px;
  right: 10px;
  color: #45fd45;
}

.check2 {
  position: relative;
  top: 9px;
  right: 10px;
  color: #4d4d4d;
}

/*search*/

.search-hero {
  max-width: 500px;
  padding-bottom: 15px;
}

.form-control {
  width: 100%;
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: 0 0 3px #fd4520;
  border: 1px solid #fd4520;
}

.form-control::placeholder  {
  font-family: FontAwesome;
}

/*Search*/

