

<div class="chat">
  <div class="chatInfo" style="background: #282a2d;">

    <span></span>

    <div class="chatIcons">
        <div class="icon">
<!--          <i class="fa-solid fa-video"></i>-->
        </div>
        <div class="icon">
<!--          <i class="fa-solid fa-user-plus"></i>-->
        </div>
        <div class="icon">
<!--          <i class="fa-solid fa-ellipsis"></i>-->
        </div>
    </div>
  </div>
  <app-messages></app-messages>
  <app-input [username]="dataNombre"></app-input>
</div>



